<!DOCTYPE html>
<html>
<head>
  <!-- "Metadata. The story behind the data" ~ Elliot Alderson -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Rename subtitles files according to TV show names">
  <meta name="keywords" content="subtitles, tv, Eshaan Bansal, tv-series, subtile renamer, rename subtitles, subtitle management, subtitle loader">
    <meta property="og:description" content="Rename subtitles files according to TV show names">
    <meta property="og:title" content="RenameThemSubs">
    <meta property="og:type" content="website">
    <!-- Favicon -->
  	<link rel='shortcut icon' type='image/x-icon' href="{{ url_for('static', filename='favicon.ico') }}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- local css -->
 	  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"/>
    {% block head %}{% endblock %}
    <title>RenameThemSubs</title>
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
      	  <img src="static/favicon.ico" id="logo"/>
          <a class="navbar-brand mr-4" href="/">RenameThemSubs</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}
          {% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h4 class='text-muted'>Show Support &hearts;</h4>
            <hr/>
            <h6 class='text-muted'>Open-Source Web App in Flask</h6>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light"><a class='text-muted' href="https://github.com/Eshaan7/RenameThemSubs" target="_blank">Github</a></li>
                <li class="list-group-item list-group-item-light"><a class='text-muted' href="https://github.com/Eshaan7/RenameThemSubs/tree/master/Flask-app" target="_blank">Heroku</a></li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>
    <!-- Footer -->
    <footer>
      <!-- Footer Elements -->
      <div id="footer-container">
          <!-- Twitter -->
          <a href="https://twitter.com/mask0fmydisguis">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Github -->
          <a href="https://github.com/Eshaan7">
            <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a href="https://www.linkedin.com/in/eshaan7">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a href="https://instagram.com/maskofmydisguise">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
      </div>
      <!-- /Footer Elements -->
    </footer>
    <!-- /Footer -->
</body>
</html>
