{% extends "base.html" %}

{% block body %}

    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
      	  <img src="static/images/favicon.ico" id="logo"/>
          <a class="navbar-brand mr-4" href="/">RenameThemSubs</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}
          {% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h4 class='text-muted'>Show Support &hearts;</h4>
            <hr/>
            <h6 class='text-muted'>Open-Source Progressive Web App in Flask</h6>
            <div><button class="btn btn-dark btn-sm" id="btnAdd" class='text-muted'>Install App</button></div>
            <hr/>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light"><a class='text-muted' href="https://github.com/Eshaan7/RenameThemSubs" target="_blank">Github</a></li>
                <li class="list-group-item list-group-item-light"><a class='text-muted' href="https://github.com/Eshaan7/RenameThemSubs/tree/master/Flask-app" target="_blank">Heroku code</a></li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>
    <!-- Footer -->
    <footer>
      <!-- Footer Elements -->
      <div id="footer-container">
          <!-- Twitter -->
          <a href="https://twitter.com/mask0fmydisguis">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Personal webiste -->
          <a href="https://eshaan7.github.io/">
            <i class="fab fa-dev fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Github -->
          <a href="https://github.com/Eshaan7">
            <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a href="https://www.linkedin.com/in/eshaan7">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
      </div>
      <!-- /Footer Elements -->
    </footer>
    <!-- /Footer -->
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}
